@model NETCore_MVC_Water_Company.Web.Data.Entities.User

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this user?</h3>
<div>
    <h4>City</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TIN)
        </dd>
    </dl>

    <h4>Water meters</h4>
    @if (Model.WaterMeters == null | Model.WaterMeters.Count == 0)
    {
        <h5>No water meters</h5>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WaterMeters.FirstOrDefault().Id)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.WaterMeters.OrderBy(c => c.Id))
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayNameFor(modelItem => item.City.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City.Name)
                        </td>
                        <td>
                            @Html.DisplayNameFor(modelItem => item.TotalConsumption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalConsumption)
                        </td>
                        <td>
                            @Html.DisplayNameFor(modelItem => item.ZipCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ZipCode)
                        </td>
                        <td>
                            @Html.DisplayNameFor(modelItem => item.MeterState)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeterState)
                        </td>
                        <td>
                            @Html.DisplayNameFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td id="@item.Id">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>


