@model NETCore_MVC_Water_Company.Web.Data.Entities.WaterMeter

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WaterMeter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalConsumption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalConsumption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="CreateBill" asp-route-id="@Model.Id">Create new bill</a>

    <a asp-action="Index">Back to List</a>
</div>

<h4>Bills</h4>
@if (Model.Bills == null | Model.Bills.Count == 0)
{
    <h5>No bills</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().Id)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bills.OrderBy(c => c.MonthYear))
            {
            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => item.PaymentState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentState)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Consumption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumption)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.FinalValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalValue)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.MonthYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthYear)
                </td>
                <td id="@item.Id">
                    <a asp-action="EditBill" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="DeleteBill" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
