@model NETCore_MVC_Water_Company.Web.Data.Entities.WaterMeter

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

<h2 style="color:white;">Details</h2>

<div>
    <h4 style="color:white;">WaterMeter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalConsumption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalConsumption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin,Employee"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
        <a asp-action="CreateBill" asp-route-id="@Model.Id" class="btn btn-default">Create new bill</a>
    }

    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

<br />

<div>
    <ejs-chart id="consumptionChart">
        <e-chart-primaryxaxis valueType="Category">
        </e-chart-primaryxaxis>
        <e-series-collection>
            <e-series name="Consumption" xName="xValue" yName="yValue" dataSource="@Model.ChartData"
                      type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
            </e-series>
        </e-series-collection>
    </ejs-chart>
</div>

@if (Model.Bills == null | Model.Bills.Count == 0)
{
    <h3 style="color:white;">No bills registered</h3>
}
else
{
    <div class="row" style="color:black;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bills</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th>Bill number</th>
                                <th>Is bil payed?</th>
                                <th>Consumption</th>
                                <th>Price</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Bills.OrderBy(c => c.MonthYear))
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentState)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Consumption)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FinalValue)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.MonthYear)
                                </td>
                                @if (User.IsInRole("Admin,Employee"))
                                {
                                    <td id="@item.Id">
                                        <a asp-action="EditBill" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                        <a asp-action="DeleteBill" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                                        <a asp-action="PrintInvoice" asp-route-id="@item.Id" class="btn btn-default">Print Invoice</a>
                                    </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });

    </script>
}